{% extends "base.html" %}
{% block title %}検索画面{% endblock %}
{% block manu_s %}class="select"{% endblock %}
{% block container %}
        <div id="appletContainer"></div>
        <form name="form1" action="/result/" method="post"> {% csrf_token %}
            <input type="hidden" name="smiles" value="">
            製品名:<input type="text" name="name" maxlength="1000" id="id_name" autocomplete="off"><br>
            コード:<input type="text" name="expdata" maxlength="1000" id="id_name" autocomplete="off">
        </form>
        <button type="button" onclick='getSmiles();'>検索</button>{{form}}
{% endblock %}