<!doctype html>
<html lang="ja">{% load static %}
<head>
    <meta charset="utf-8">
    <title>検索結果：{{ object_list | length }}件</title>
    <script type="text/javascript" language="javascript" src="{% static '/jsme.nocache.js' %}"></script>
    <script>
        //this function will be called after the JavaScriptApplet code has been loaded.
        function jsmeOnLoad() {
            // glutathione
            //Instantiate a new JSME:
            //arguments: HTML id, width, height (must be string not number!)

            jsmeApplet = new JSApplet.JSME("appletContainer", "600px", "440px", {
                //optional parameters
                "options": "query,hydrogens,fullScreenIcon",
                "smiles":"{{ test_form.smiles.value}}"
            });
            document.JME = jsmeApplet;
            document.getElementById("inchiKeyUrlTextArea").value = jsmeApplet.getWebSearchInchiKeyBaseUrl();
        }
        function getSmiles() {
            document.forms.form1.smiles.value = document.JME.smiles();
            var f = document.forms["form1"];
            f.method = "POST"; 
            f.submit();
            return false;
        }
    </script>
    <link rel="stylesheet" href="{% static 'css/library.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
</head>

<body>
    <div class="header">
        <a href="/search/" class="select">検索画面</a><a href="/create/">登録画面</a><a href="/admin/">管理者</a>
    </div>
    <div class="container">
        <form name="form1" action="/result/" method="post"> {% csrf_token %}
            <input type="hidden" name="smiles" value="">
            製品名:<input type="text" name="name" maxlength="1000" id="id_name" autocomplete="off" value="{{ test_form.name.value}}"><br>
            実験者:<input type="text" name="expdata" maxlength="1000" id="id_user" autocomplete="off" value="{{ test_form.expdata.value}}">
        </form>
        <button type="button" onclick='getSmiles();'>検索</button>
        
        <p>検索結果：{{ object_list | length }}件</p>
        <table>
        {% for item in object_list %}
            <tr><td>{{item.id}}</td><td>{{item.compound__smiles}}</td><td>{{item.total}}</td></tr>
        {% endfor %}
        </table>>

    </div>

</body>
</html>

