html,body{
    background-color: rgb(128, 128, 128);
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;}
.header{
    position: fixed;
    background-color: white;
    color: white;
    font-weight: bold;
    width:200px;
    height: 100%;
    z-index: 100;
    text-align: center;
    border-right: 1px rgb(92, 92, 92) solid;
}
.header a{
    display: block;
    line-height: 34px;
    width:190px;
    text-align: center;
    margin-right:0;
    color: black;
    text-decoration:none;
    border-left:  10px rgb(255, 255, 255) solid;
    border-bottom:   1px rgb(211, 211, 211) solid;
}
.header .select{
    text-align: center;
    margin-top:auto;
    text-decoration:none;
    border-left:  10px rgb(0, 119, 255) solid;
}

.container {
    background-color: #ffffff;
    margin-right: auto;
    margin-left : 200px;
    padding: 0px;
    min-height: 100%;
}
div{
    margin: 0;
}
.container>*{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
    display: block;
}
div .result_table{
    display: table;
    margin-right: auto;
    margin-left : auto;
    border: 1px gray solid; 
    width:600px;
    counter-reset: rst_count;
    position: relative;
}
.result_table_row{
    display: table-row;
    position: relative;
}
.result_table_row>div:first-child::before{
    counter-increment: rst_count;   
    content: counter(rst_count)".";
    z-index: 10;
    position: absolute;
    top: 5px;
    left: 5px;
}
div .from_table{
    display: table;
    width:600px;
}
div .field{
    display: table-row;
}
div .field > div{
    display: table-cell;
    vertical-align: top;
}
div .result_detail{
    display: table-cell;
    position: relative;
    vertical-align: top;
    padding-top: 1em;
    border-top: 1px gray solid;
}
div .result_table h3{
    margin: 0;
}
div .result_table table tr>td:first-of-type{
    width: 5.5em;
}
.gotoEdit{
    position: absolute; bottom:0;right: 0; text-align: right;
}
#appletContainer{
    width:600px;
    margin-right: auto;
    margin-left : auto;
}

.errortext{
    color: red;
}

input,  textarea {
    font-family : inherit;
    font-size: 100%;
}
textarea {
    width:500px;
}
